@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, monospace;
}

body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

#root {
  width: 100vw;
  height: 100vh;
}
